$tcm-calendar-header-height: 80px;
$tcm-calendar-entry-height: 80px;
$tcm-calendar-left-margin: 60px;

#tcm-calendar-month {
    width: 100%;
    height: 800px;
}

#tcm-calendar-month-content {
    width: 100%;
    height: calc(100% - $tcm-calendar-header-height);
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: $tcm-calendar-left-margin repeat(7, 1fr);
    grid-template-rows: repeat(6, $tcm-calendar-entry-height);
    overflow-y: scroll;
    position: relative;
}

.event {
    width: 100%;
    height: 80px;
    background-color: blue;
    position: relative;
}


.tcm-calendar-entry {
    padding: 0 10px;
}

.tcm-calendar-entry .tcm-calendar-entry-inner {
    height: 100%;
}

#spacer {
    flex: 0 0 $tcm-calendar-left-margin;
}

.tcm-calendar-title-day {
    flex: 1;
    flex-grow: 1;
    padding: 0 10px;
    line-height: $tcm-calendar-header-height;

    span {
        font-size: 18px;
        color: black;
        margin-right: 10px;
    }
    color: dark-grey;
    border-bottom: 1px solid dark-grey;
}


#tcm-calendar-month-header {
    width: 100%;
    height: $tcm-calendar-header-height;
    display: flex;
    flex-direction: row;
}

.tcm-calendar-time-cell {
    display: flex;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-end;
}