/* Your SASS code here. */

.modal .animation-content .modal-card {
  overflow: visible !important;
}

.modal-card-body {
  overflow: visible !important;
}


/* TEMP FIX, TO BE REMOVE WHEN WE WILL UPDATE THE DESIGN IN COREJS */
.main-content {
    overflow: visible !important;
}
